Source: pt-os-core
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.5.1
Homepage: https://pi-top.com/

Package: pt-os
Architecture: all
Depends:
 ${misc:Depends},
 pt-os-sys-mods,
 pt-os-version,
Recommends:
 pt-device-support,
 pt-os-apps,
 pt-os-desktop,
 pt-os-dev-tools,
 pt-os-networking,
 pt-os-onboarding,
 pt-os-ui,
 pt-os-user-libs,
# Required for ssh login motd (see OS build)
 neofetch,
Description: pi-topOS top-level dummy package
 The root package of pi-topOS modifications to Raspberry Pi OS.

Package: pt-device-support
Architecture: all
Depends:
 ${misc:Depends},
 pt-device-manager,
 python3-pitop,
# Additional hardware support
 pt-display-port,
 pt-miniscreen,
# Software updaters
 pt-firmware-updater,
 pt-touchscreen,
# Recommend screen blanking dependency
# (only suggested by device manager to support headless configurations)
 xprintidle,
Description: pi-top Device Support
 This metapackage contains dependencies required to install and configure
 low-level device-related components for using pi-top hardware.

Package: pt-os-apps
Architecture: all
Depends:
 ${misc:Depends}
Recommends:
# Disk Usage Analyzer
 baobab,
# Keyboard and mouse sharing
 barrier,
# Keep display alive
 caffeine,
 chromium-browser,
# VS Code
 code,
 gimp,
# Multi-touch friendly calculator
 gnome-calculator,
 htop,
 libreoffice-pi,
 libreoffice-common,
 imagemagick,
 mtpaint,
 mu-editor,
 python3-minecraftpi,
 realvnc-vnc-viewer,
 scratch3,
 smartsim,
 sonic-pi,
 touche,
 vlc,
Description: pi-topOS Applications
 This package contains the files and dependencies required
 to install and configure pi-topOS' GUI applications.

Package: pt-os-desktop
Architecture: all
Depends:
 ${misc:Depends},
# systemd services
 pt-os-notify-services,
# Only suggested by device manager to support headless configurations
 xprintidle,
Description: pi-topOS Desktop
 This metapackage installs packages that make use of the X11 desktop,
 such as for notifications or querying the session's idle time.

Package: pt-os-dev-tools
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 aptitude,
 asciinema,
 debtree,
 graphviz,
 p7zip-full,
 silversearcher-ag,
 squashfs-tools,
 tree,
 vim,
 zip,
 zsh,
Description: pi-topOS Development Support
 This metapackage contains the files and dependencies required
 to install and configure pi-topOS' development-related
 components. This includes scripts that are used as part of the OS
 build pipeline.

Package: pt-os-init
Architecture: all
Depends:
 ${misc:Depends},
Description: pi-topOS init script
 This package handles all initialisation of pi-topOS, such as configuring for
 onboarding/desktop.

Package: pt-os-networking
Architecture: all
Depends:
 ${misc:Depends},
 pt-os-net-mods,
 wifi-ap-sta,
Description: pi-topOS Networking
 This metapackage installs all networking-related packages of pi-topOS.

Package: pt-os-onboarding
Architecture: all
Depends:
 ${misc:Depends},
 pt-os-init,
# Required for openbox xdg autostart
# as part of onboarding on Bullseye
 python3-xdg,
Description: pi-topOS Onboarding
 This metapackage installs all onboarding-related packages of pi-topOS.

Package: pt-os-notify-services
Architecture: all
Depends:
 ${misc:Depends},
# dh_python3 does not populate with dependency for 'pt-os-version-notify' shebang
# so we hard-code
# ${python3:Depends},
 python3,
 python3-pitop,
# Other dependencies
 notify-send-ng,
Recommends:
 rpi-eeprom,
Description: pi-topOS Notification Services
 Simple utilities used by pi-topOS, provided by systemd services. This package
 contains a background memory usage monitor, a service to notify users when they
 are using a preview build of pi-topOS and a service to ensure that Raspberry Pi
 4s that are in use with a pi-top [4] have their EEPROM configured correctly.

Package: pt-os-ui
Architecture: all
Provides: pt-os-notifications
Depends:
 ${misc:Depends},
 autorandr,
 notify-send-ng,
 pt-os-bootsplash,
 pt-os-ui-mods,
 pt-os-web-portal-desktop,
 xfce4-notifyd,
Description: pi-topOS UI
 This metapackage contains the files and dependencies required
 to install and configure pi-topOS' UI-related components.

Package: pt-os-user-libs
Architecture: all
Depends:
 ${misc:Depends},
# pi-top Python SDK + all dependencies
 python3-pitop-full,
Recommends:
# Useful for graphing
 python3-matplotlib,
# Sonic Pi with Python
 python3-sonic,
Description: pi-topOS User Libraries
 This metapackage contains optional libraries (primarily Python) for pi-topOS.

Package: pt-os-version
Architecture: all
Depends:
 ${misc:Depends},
Description: pi-topOS Version
 This package provides an easy-to-parse text file providing the current pi-topOS
 version.
