Source: pt-os
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.5.0
Homepage: https://pi-top.com/

Package: pt-os
Architecture: any
Depends:
 ${misc:Depends},
 neofetch (>= 6.0.0),
 pt-apps,
 pt-dev,
 pt-devices,
 pt-os-mods,
 pt-project-files,
 pt-recovery,
 pt-touchscreen,
 pt-ui,
 pt-user-libs,
 realvnc-vnc-server,
Recommends:
 pt-avs,
 pt-firmware-updater,
 pt-networking,
 pt-os-setup,
 pt-os-updater,
 pt-sys-oled,
 pt-tour,
# Recommend screen blanking dependency
# (only suggested by device manager to support headless configurations)
 xprintidle,
Description: pi-topOS top-level dummy package
 The root package of pi-topOS modifications to Raspbian.
