Source: pt-os-core
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.5.1
Homepage: https://pi-top.com/

Package: pt-os
Architecture: all
Depends:
 ${misc:Depends},
 pt-recovery,
 pt-os-mods,
Recommends:
# Other pt-os-core packages
 pt-apps,
 pt-dev,
 pt-devices,
 pt-ui,
 pt-user-libs,
# 'Casual' dependencies
 neofetch (>= 6.0.0),
 pt-avs,
 pt-firmware-updater,
 pt-networking,
 pt-os-updater,
 pt-project-files,
 pt-touchscreen,
 pt-sys-oled,
 pt-web-portal,
# Only suggested by device manager to support headless configurations
 xprintidle,
Description: pi-topOS top-level dummy package
 The root package of pi-topOS modifications to Raspbian.

Package: pt-apps
Architecture: all
Depends: ${misc:Depends}
Recommends:
# Disk Usage Analyzer
 baobab,
# Keyboard and mouse sharing
 barrier,
# Keep display alive
 caffeine,
 chromium-browser,
# VS Code
 code,
 gimp,
# Multi-touch friendly calculator
 gnome-calculator,
 htop,
 libreoffice-pi,
 libreoffice-common,
 imagemagick,
 minecraft-pi,
 mtpaint,
 mu-editor,
 pt-coder,
 pt-settings,
 python-games,
 python3-minecraftpi,
 realvnc-vnc-viewer,
 scratch3,
 smartsim,
 sonic-pi,
 touche,
 vlc,
Description: pi-topOS Applications
 This package contains the files and dependencies required
 to install and configure pi-topOS' GUI applications.

Package: pt-dev
Architecture: all
Depends:
 ${misc:Depends},
 asciinema,
 p7zip-full,
 pt-system-tools,
 silversearcher-ag,
 squashfs-tools,
 zip,
 zsh,
Description: pi-topOS Development Support
 This metapackage contains the files and dependencies required
 to install and configure pi-topOS' development-related
 components.

Package: pt-devices
Architecture: all
Depends:
 ${misc:Depends},
 pt-device-manager,
 python3-pitop,
# Recommend screen blanking dependency
# (only suggested by device manager to support headless configurations)
 xprintidle,
Description: pi-topOS Development
 This metapackage contains dependencies required to install and configure
 pi-topOS' low-level device-related components.

Package: pt-ui
Architecture: all
Depends:
 ${misc:Depends},
 pt-plym-splash,
 pt-ui-mods,
 pt-web-portal-desktop,
Description: pi-topOS UI
 This metapackage contains the files and dependencies required
 to install and configure pi-topOS' UI-related components.

Package: pt-user-libs
Architecture: all
Depends:
 ${misc:Depends},
# pi-top Python SDK + all dependencies
 python3-pitop-full,
# pi-top Python SDK migration support
 python3-pitop-migr,
Recommends:
# Useful for graphing
 python3-matplotlib,
# Optional text-to-speech library
 python3-pt-speech,
Description: pi-topOS User Libraries
 This metapackage contains optional libraries (primarily Python) for pi-topOS.

Package: pt-os-archive-keyring
Architecture: all
Depends:
 ${misc:Depends},
Description: GnuPG archive keys of the pi-topOS archive
 This package contains the archive keys used for the pi-topOS apt
 software repository archives.

Package: pi-top-4
Architecture: all
Depends:
 ${misc:Depends},
# Driver support - handle shutdowns, configure SPI/I2C, etc.
 pt-device-manager,
Recommends:
# Firmware updater will keep the device up-to-date
# Currently requires desktop environment to work
 pt-firmware-updater,
# Virtual Ethernet interface via USB-OTG for Display Port
 pt-display-port,
# Pi 4 with board revisions earlier than 1.4 require a modified EEPROM to
# power off. This service will ensure that this happens
# pt-rpi-eeprom-updater,
# OLED menu
 pt-sys-oled,
# pi-top touchscreen support - note: requires a desktop environment!
 pt-touchscreen,
# SDK
 python3-pitop,
# Screen blanking for pt-device-manager - requires desktop
 xprintidle,
Description: Dummy package providing full pi-top [4] support
 Root package providing full support for all of the
 functionality offered out-of-the-box with a pi-top [4].

Package: pt-system-tools
Architecture: all
Depends:
 ${misc:Depends},
 pt-notifications,
Description: pi-top system tools
 System tools for helping users to understand how they are using their system
 by providing notifications to the user. This package contains a background
 memory usage monitor and a service to notify users when they are using a
 preview build of pi-topOS.

Package: pt-notifications
Architecture: all
Depends: ${misc:Depends},
 xfce4-notifyd,
 notify-send-ng,
Suggests:
 pt-ui-mods,
Description: pi-top Desktop Notification Service
 Interface for showing notifications directly to the user at the desktop.
 Handles detecting which display to target, as well as which user is
 using the display. This service wraps around notify-send.sh to provide
 advanced notification management.
