[Unit]
Description=pi-topOS DHCP server
After=remote-fs.target
After=network-online.target
After=nss-lookup.target

[Service]
Type=forking
Restart=on-failure
RestartSec=5
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/bin/pt-dhcp-server start
ExecStop=/usr/bin/pt-dhcp-server stop

[Install]
WantedBy=multi-user.target
