[Unit]
Description=pi-top [4] touchscreen hotplug service
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
ExecStart=/usr/lib/pt-os-mods/hotplug_display.sh

[Install]
WantedBy=graphical.target
