[Unit]
Description=pi-topOS version warning
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
Environment="DISPLAY=:0.0"
ExecStart=/usr/lib/pt-system-tools/pt-version-notify

[Install]
WantedBy=graphical.target
