#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=pt-eeprom-manager
	dh_installsystemd --name=pt-os-memory-monitor
	dh_installsystemd --name=pt-os-version-notify
	dh_installsystemd --name=pt-os-wifi-ap-warning
	dh_installsystemd --name=pt-network-alias
